.blog-content {
    padding: 40px 0 160px;
}

@include pad {
    .blog-content {
        padding: 32px 0 96px;
    }
}

@include mobile {
    .blog-content {
        padding: 28px 0 56px;
    }
}

// blog-specialEvent
.blog-specilEvent-content {
    padding-bottom: 160px;
}

@include pad {
    .blog-specilEvent-content {
        padding-bottom: 96px;
    }
}

@include mobile {
    .blog-specilEvent-content {
        padding-bottom: 56px;
    }
}

