// header 
.navbar-container {
    max-width: 1290px;
    margin: 0 auto;
    padding: 30px 15PX;
}


.glasses-logo {
    width: 80px;
    height: 48px;
    background: url(../images/logo-new.png) no-repeat center;
    background-size: cover;
    text-indent: 101%;
    white-space: nowrap;
    overflow: hidden;
}


@include mobile {
    .navbar-container { 
        padding: 0;
    }

    .glasses-logo {
        width: 48px;
        height: 30px;
        margin: 10px 0;
        background: url(../images/logo-new1.png);
        background-size: cover;
    }
}


