
@import 'variable';
@import 'reset';
@import 'base';
@import 'grid';
@import 'utilities';


// components
@import 'components/card';
@import 'components/btn';
@import 'components/map';
@import 'components/bg-cover';
@import 'components/icons';
@import 'components/nav';
@import 'components/pagination';




// 共同樣式
@import 'layout';

//分頁樣式
@import 'faq';
@import 'location';
@import 'products';
@import 'blog';
@import 'index';