.card {
    &-title {
        padding: 12px 24px;
        border-bottom: 1px solid #00000020;
    }

    &-img {
        width: 100%;
        height: 224px;
    }

    &-info {
        padding: 16px 22px 8px 26px;
    }


}

@include pad {
    .card {
        &-title {
            padding: 8px 24px;
        }

        &-img {
            width: 100%;
            height: 164px;
        }
    }
}

@include mobile {
    .card {
        &-title {
            padding: 8px 24px;
        }
    }
}


// sunglassesProducts-cards
.sunglassesProducts-cards {
    // 使用calc 語法運算 產品卡片寬度:  父層 ul 寬度為1110px，想要 3個欄位為一列 (1110/3)-15 = 340
    width: calc(100% / 3 - 15px);
    margin-bottom: 104px;
}

@include pad {
    .sunglassesProducts-cards {
        width: calc(100% / 2 - 15px);
        margin-bottom: 72px;
    }
}

@include mobile {
    .sunglassesProducts-cards {
        width: 100%;
        margin-bottom: 32px;
    }
}

//opticalProducts-cards 
.opticalProducts-cards {
    // 使用calc 語法運算 產品卡片寬度:  父層 ul 寬度為1110px，想要 4個欄位為一列 (1080/4)-15 = 255
    width: calc(100% / 4 - 15px);
    margin-bottom: 104px;
}

@include pad {
    .opticalProducts-cards {
        width: calc(100% / 2 - 15px);
        margin-bottom: 72px;
    }
}

@include mobile {
    .opticalProducts-cards {
        width: 100%;
        margin-bottom: 32px;
    }
}

// blog-cards
.blog-cards {
    &-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}


// description-cards
  // 使用calc 語法運算 產品卡片寬度:  父層 ul 寬度為1110px，想要 4個欄位為一列 (1080/4)-15 = 255
.description-cards {
    width: calc(100% / 4 - 15px);
}

@include pad {
    .description-cards {
        width: calc(100% / 2 - 90px);
    }
}

@include mobile {
    .description-cards {
        width: calc(100% - 90px) ;
    }
}

// classic-cards
.classic-cards-img {
    width: calc(100% - 445px) ;
}

@include pad {
    .classic-cards-img {
        width: calc(100% - 300px ) ;
    }
}

@include mobile {
    .classic-cards-img {
        width: 100%;
    }
    
}

// co-branded-cards 聯名設計
.co-branded-cards {
    width: calc(100% / 2 - 30px);
    &::before {  //在圖片使用偽元素做白色遮色片效果
        content: '';
        position: absolute;
        top:0; right:0; bottom:0; left:0;
        background: $white;
    }
    &-img {
        width: 100%;
        opacity: 0.5;
    }
}

