.contact-form {
    width: 67%;
    margin: 0 auto;
    &-control {
        width: 100%;
        padding: 12px 16px;
    }
}

@include pad {
    .contact-form {
       width: 65%;
       &-control {
        padding: 9px 12px;
    }
    }
}

@include mobile {
    .contact-form {
       width: 100%;
    }
}

